@import 'settings/mixins/_position.scss';
//#glcanvas { position:fixed;    top:0; left:0; width:100%; height:100%; }
//#chat-body   { position:absolute; top:0; left:0; }
.chat-window{
  position: absolute;
  height: 600px;
  padding: 10px;
  width: 410px;
  overflow: scroll;
}
#main-panel{
  width: 410px;
}
.message-box{
  width: 412px;
  resize: none;
  border-radius: 0px;
}

.chat-box {
    width: 100%;
    height: auto;
    overflow: hidden; /*floatの解除*/
    margin-bottom: 20px;
}
.chat-area {
    width: 100%;
    float: right;
}
.chat-hukidashi {
    display: inline-block; /*コメントの文字数に合わせて可変*/
    padding: 5px 20px;
    min-height: 40px;
    margin-top: 10px;
    max-width: 200px;
    max-height: 380px;
//    border: 1px solid gray;
    border-radius: 10px;
    position: relative; /*追記*/
    background-color: #D9F0FF; /*追記*/
    overflow: hidden;
}
/* ↓追記↓ */
.chat-hukidashi:after {
    content: "";
    position: absolute;
    margin-top: -10px;
    display: block;
    width: 0px;
    height: 0px;
    border-style: solid;
}
.you{
  right: 0;
  float: right;
}
.you:after{
  top: 50%; right: -10px;
  border-width: 10px 10px 10px 0;
  border-color: transparent #D9F0FF transparent transparent;
}

.someone {
    background-color: #BCF5A9;
    float: left;
}
.someone:after {
    top: 50%; left: -10px;
    border-width: 10px 10px 10px 0;
    border-color: transparent #BCF5A9 transparent transparent;
}
