.user-profile{
  dd{
    font-size: 12px;
    form{
      margin-bottom: 0px;
      .form-group{
        margin-bottom: 0px;
        select{
          font-size: 12px;
        }
      }
    }
    label{
    }
  }

}
